@font-face {
	font-family: 'Roboto-Regular';
	src: url('../assets/Roboto-woff/Roboto-Regular.WOFF') format('WOFF');
	font-family: 'Roboto-Thin';
	src: url('../assets/Roboto-woff/Roboto-Thin.WOFF') format('WOFF');
}

body {
	background: url('../assets/home_v3.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vertical-align {
	display: flex;
    align-items: center;
    margin: 0 auto;
}

.corner {
    border-radius: 50px;
    background: #faebd7;
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    filter: alpha(opacity=75);
}

.circle {
	width:50%;
	height:0;
	font-size:20px;
	color:#fff;
	text-align:center;
	line-height:0;
	padding:25% 0;
	border-radius:50%;
	background:#faebd7;
}

.title {
	text-align: center;
	font-family: "Roboto-Regular";
	font-weight: normal;
	font-size: 5.0vw;
	margin-top: 0px;
}

.subtitle {
	text-align: center;
	font-family: "Roboto-Thin";
	font-weight: normal;
	font-size: 1.75vw;
}

.page-header {
	margin-top: 5.0vw;
	border-bottom:none;
}

.navbar {
	margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
