@font-face {
	font-family: 'Roboto-Regular';
	src: url('../assets/Roboto-woff/Roboto-Regular.WOFF') format('WOFF');
	font-family: 'Roboto-Thin';
	src: url('../assets/Roboto-woff/Roboto-Thin.WOFF') format('WOFF');
}

.fold {
	height: 50.00vw;
	overflow: hidden;
	background: url('../assets/projects_fold_bg_v2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fold-content {
}

.fold-content h1 {
	color: white;
	text-align: center;
	font-family: "Roboto-Regular";
	font-weight: normal;
	font-size: 8.5vw;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.fold-content h2 {
	color: white;
	text-align: center;
	font-family: "Roboto-Thin";
	font-weight: normal;
	font-size: 1.75vw;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.line-item {
	padding-top: 3.0vw;
	padding-bottom: 3.0vw;
}

.icon-items {
	padding-top: 3.0vw;
	padding-bottom: 1.0vw;
	font-size: 1.0vw;
	text-align: center;
	font-family: "Roboto-Light";
}

span.icon-item:hover + .icon-desc{
  visibility: visible;
  opacity: 1;
}

.icon-desc {
  visibility: hidden;
  opacity: 0;

  /* transition effect*/
  transition: opacity .2s, visibility .2s;
}

.clickable-icon {
     cursor: pointer
}

.horizontal-rule {
	border-top: 1px solid #222222;
}

.left-info h1 {
	text-align: left;
	font-family: "Roboto-Thin";
	font-weight: bold;
	font-size: 2.0vw;
	margin-top: 0%;
}

.left-info h2 {
	text-align: left;
	font-family: "Roboto-Thin";
	font-weight: normal;
	font-size: 1.5vw;
}

.right-info ul {
	text-align: left;
	font-family: "Roboto-Thin";
	font-weight: normal;
	font-size: 1.5vw;
}

.right-info li {
	margin-bottom: 0.5vw;
}

.update-info {
	font-family: "Roboto-Thin";
	font-weight: normal;
}

hr.horizontal-rule { 
  /* src: https://codepen.io/ibrahimjabbari/pen/ozinB */
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.page-header {
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
}